﻿
@{
    ViewBag.Title = "Chairmain";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    var db = Database.Open("InvestorContext");
    var selectQueryString = "SELECT * FROM ChairmanSt where Year='" + DateTime.Now.Year + "'";
  
}
<div class="jumbotron" id="Header">
    <h2>@ViewBag.Title.</h2>
</div>
<br/>
<br/>
<br />
<br />
<div class="container">

    <div class="row" id="myMain">
        <div class="col-md-5" style="margin-top: 10%;">
            <img class="img-responsive" src="~/images/chairman.jpg" height="600" width="400"/>
        </div>
        @{
            string stat= "";
            decimal PlanAmount = 0m;
            foreach (var row in db.Query(selectQueryString))
            {
                stat = row.Statement;
            }
            

        }
        <div class="col-md-5" style="margin-top: 10%; text-align: justify; font-size: 10pt; line-height: 150%;">
            <h2 style="text-decoration: underline;">Chairman`s Statement</h2>
           @stat
        </div>
        </div>
</div>