﻿@model investorpage.Models.ChartViewModel
@{
    ViewBag.Title = "Financial Performance";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    var db = Database.Open("InvestorContext");
    string test = "policeMonthly";
    var comprehensive = "SELECT Revenue,netinterest,lossorprofit,PeriodStartDate,PeriodEndDate,year,operatingprofit FROM Comprehensive_Income where Year='" + DateTime.Now.AddYears(-1).Year+ "'";
    var comprehensive2 = "SELECT Revenue,netinterest,lossorprofit,PeriodStartDate,PeriodEndDate,year,operatingprofit FROM Comprehensive_Income where Year='" + DateTime.Now.AddYears(-2).Year + "'";
    var financial = "SELECT * FROM financial_position where Year='" + DateTime.Now.AddYears(-1).Year + "' ";
    var financial2 = "SELECT * FROM financial_position where Year='" + DateTime.Now.AddYears(-2).Year + "' ";
    var cashflow = "SELECT * FROM cashflows where Year='" + DateTime.Now.AddYears(-1).Year + "' ";
    var cashflow2 = "SELECT * FROM cashflows where Year='" + DateTime.Now.AddYears(-2).Year + "'";
    var ordinary = "SELECT * FROM ordinaryshare where Year='" + DateTime.Now.AddYears(-1).Year + "'";
    var ordinary2 = "SELECT * FROM ordinaryshare where Year='" + DateTime.Now.AddYears(-2).Year + "'";
    var other = "SELECT * FROM other where Year='" + DateTime.Now.AddYears(-1).Year + "' ";
    var other2 = "SELECT * FROM other where Year='" + DateTime.Now.AddYears(-2).Year + "' ";

}


<div class="jumbotron" id="Header">
    <h2>@ViewBag.Title.</h2>
</div>

<div class="body-content" id="myContent">

    <center>
       
            <br />
            <br />
           <center>
                @{
                    //queries for comprehensive income
                    double Revenue = 0.0;
                    double netinterest = 0.0;
                    double lossorprofit = 0.0;
                    double PeriodStartDate = 0.0;
                    double PeriodEndDate = 0.0;
                    string year = "";
                    double operatingprofit = 0.0;

                    foreach (var row in db.Query(comprehensive))
                    {
                        Revenue = row.Revenue;
                        netinterest = row.netinterest;
                        lossorprofit = row.lossorprofit;
                        year = row.Year;
                        operatingprofit = row.operatingprofit;
                    }

                    double Revenue2 = 0.0;
                    double netinterest2 = 0.0;
                    double lossorprofit2 = 0.0;
                    double PeriodStartDate2 = 0.0;
                    double PeriodEndDate2 = 0.0;
                    string year2 = "";
                    double operatingprofit2 = 0.0;

                    foreach (var row in db.Query(comprehensive2))
                    {
                        Revenue2 = row.Revenue;
                        netinterest2 = row.netinterest;
                        lossorprofit2 = row.lossorprofit;
                        year2 = row.Year;
                        operatingprofit2 = row.operatingprofit;
                    }

                    double equityattributable = 0.0;
                    double interestdebt = 0.0;

                    foreach (var row in db.Query(financial))
                    {

                        equityattributable = row.equityattributable;
                        interestdebt = row.interestdebt;
                    }

                    double equityattributable2 = 0.0;
                    double interestdebt2 = 0.0;

                    foreach (var row in db.Query(financial2))
                    {

                        equityattributable2 = row.equityattributable;
                        interestdebt2 = row.interestdebt;
                    }
                    double increaseincash = 0.0;
                    double netcash = 0.0;
                    foreach (var row in db.Query(cashflow))
                    {

                        increaseincash = row.increaseincash;
                        netcash = row.netcash;
                    }
                    double increaseincash2 = 0.0;
                    double netcash2 = 0.0;
                    foreach (var row in db.Query(cashflow2))
                    {

                        increaseincash2 = row.increaseincash;
                        netcash2 = row.netcash;
                    }

                    double basic_diluted = 0.0;
                    double loss_per_share = 0.0;
                    double market_price = 0.0;
                    double shares_in_issue = 0.0;
                    foreach (var row in db.Query(ordinary))
                    {
                        basic_diluted = row.basic_diluted;
                        loss_per_share = row.loss_per_share;
                        market_price = row.market_price;
                        shares_in_issue = row.shares_in_issue;
                    }

                    double basic_diluted2 = 0.0;
                    double loss_per_share2 = 0.0;
                    double market_price2 = 0.0;
                    double shares_in_issue2 = 0.0;
                    foreach (var row in db.Query(ordinary2))
                    {
                        basic_diluted2 = row.basic_diluted;
                        loss_per_share2 = row.loss_per_share;
                        market_price2 = row.market_price;
                        shares_in_issue2 = row.shares_in_issue;
                    }

                    double net_asset_value = 0.0;
                    string current_ratio = "";
                    double interest_cover = 0.0;
                    double number_of_employees = 0.0;
                    foreach (var row in db.Query(other))
                    {
                        net_asset_value = row.net_asset_value;
                        current_ratio = row.current_ratio;
                        interest_cover = row.interest_cover;
                        number_of_employees = row.number_of_employees;
                    }

                    double net_asset_value2 = 0.0;
                    string current_ratio2 = "";
                    double interest_cover2 = 0.0;
                    double number_of_employees2 = 0.0;
                    foreach (var row in db.Query(other2))
                    {
                        net_asset_value2 = row.net_asset_value;
                        current_ratio2 = row.current_ratio;
                        interest_cover2 = row.interest_cover;
                        number_of_employees2 = row.number_of_employees;
                    }
                }
                <div style="border: none; pointer-events: none;" scrolling="no" width="440" border="0" height="440">

                    <table class="table table-responsive" id="tab" contenteditable="true" style="padding: 10px; border-spacing: 10px 50px;">
                        <tr>
                            <td></td>
                            <td id="colcolor">2015 <br />USD</td>
                            <td id="colcolor2">2014 <br />USD</td>
                        </tr>
                        <tr>

                            <td id="important">Statement of comprehensive income<span id="spancol">........................................................</span></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td id="important">Revenue</td>
                            <td>@Revenue</td>
                            <td>@Revenue2</td>
                        </tr>
                        <tr>
                            <td>Operating Profit</td>
                            <td>@operatingprofit</td>
                            <td>@operatingprofit2</td>
                        </tr>
                        <tr>
                            <td>Net interest paid</td>
                            <td>@netinterest</td>
                            <td>@netinterest2</td>
                        </tr>
                        <tr>
                            <td>[Loss]/Profit for the Year</td>
                            <td>@lossorprofit</td>
                            <td>@lossorprofit2</td>
                        </tr>
                        <br />
                        <tr>
                            <td id="important">Statement of Financial Position]</td>
                            <td>[0.13]</td>
                            <td>[0.24]</td>
                        </tr>
                        <tr>
                            <td>
                                Equity attributable to equity holders
                            </td>
                            <td>
                                @equityattributable
                            </td>
                            <td>
                                @equityattributable2
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Interest Bearing Debt
                            </td>
                            <td>
                                @interestdebt
                            </td>
                            <td>
                                @interestdebt2
                            </td>
                        </tr>
                        <br />
                        <tr>
                            <td id="important">
                                Statement of cash flows
                            </td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>
                                Increase in cash and cash equivalents
                            </td>
                            <td>@increaseincash</td>
                            <td>@increaseincash2</td>

                        </tr>
                        <tr>
                            <td>
                                Net cash resources
                            </td>
                            <td>@netcash</td>
                            <td>@netcash2</td>

                        </tr>
                        <br />
                        <tr>
                            <td id="important">
                                Ordinary Share Performance
                            </td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>
                                Ordinary Share Performance
                            </td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>
                                Basic and diluted [loss]/earnings per share [cents]
                            </td>
                            <td>@basic_diluted</td>
                            <td>@basic_diluted2</td>

                        </tr>
                        <tr>
                            <td>
                                Headline[loss]/earnings per share [cents]
                            </td>
                            <td>@loss_per_share</td>
                            <td>@loss_per_share2</td>

                        </tr>
                        <tr>
                            <td>
                                Market price per share[$]
                            </td>
                            <td>@market_price</td>
                            <td>@market_price2</td>

                        </tr>
                        <tr>
                            <td>
                                Shares in issue
                            </td>
                            <td>@shares_in_issue</td>
                            <td>@shares_in_issue2</td>

                        </tr>
                        <br />
                        <br />
                        <tr>
                            <td id="important">
                                Other
                            </td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>
                                Net asset per share[$]
                            </td>
                            <td>@net_asset_value</td>
                            <td>@net_asset_value2</td>

                        </tr>
                        <tr>
                            <td>
                                Current Ratio
                            </td>
                            <td>@current_ratio</td>
                            <td>@current_ratio2</td>

                        </tr>
                        <tr>
                            <td>
                                Interest cover[times]
                            </td>
                            <td>@interest_cover</td>
                            <td>@interest_cover2</td>

                        </tr>
                        <tr>
                            <td>
                                Number of employees
                            </td>
                            <td>@number_of_employees</td>
                            <td>@number_of_employees2</td>

                        </tr>
                    </table>
                </div>
            </center>




    </center>

</div>