﻿
@{
    ViewBag.Title = "Annual Reporting";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

   


<div class="jumbotron" id="Header">
    <h2>@ViewBag.Title.</h2>
</div>

<div class="body-content" id="myContent">



    <h2>@ViewBag.Title</h2>
    <div class="starter-template">
        <h1 style="text-decoration: underline;font-size: 12pt;font-weight:bold">Summary</h1>
        <br />
        <center>
            <iframe id="trends" width="960" border="0" height="640" src="~/Default.aspx"></iframe>
        </center>
        <br />

        <br />


    </div>
</div><!-- /.container -->
