﻿@model PagedList.IPagedList<investorpage.Models.Governance>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Corporate Governance";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="jumbotron" id="Header">
    <h2 style="font-weight: bold">@ViewBag.Title.</h2>
</div>

<div class="body-content" id="myContent">



    @using (Html.BeginForm("Governance", "Home", FormMethod.Get))
    {
       
            <br />
       

            <br />
            <section id="gov">
                @foreach (var item in Model)
                {
                    <h3 id="h3">  @Html.DisplayFor(modelItem => item.GovernanceHeader)</h3>
                    <p id="govP">


                        @Html.DisplayFor(modelItem => item.GovernanceSection)



                    </p>



                }
            </section>



    }

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
    @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Governance",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))
    <div id="download">
        <h2 style="font-size:12pt;font-weight:bold">Annual Reports</h2>
        <h4>Please Select a file to download</h4>
        @{
            ViewBag.Title = "Download Files";

            var Files = (ViewBag.Files as string[]);

            if (Files != null && Files.Any())
            {
                foreach (var file in Files)
                {
                    <br />

                    <span class="glyphicon glyphicon-download"></span> @Html.ActionLink(file, "DownloadFile", new { fileName = file }, new { @class = "downloadlink" })


                    <br />

                }
            }
            else
            {
                <label>No File(s) to Download</label>
            }
        }
    </div>
    </div>