﻿@{
    ViewBag.Title = "Investor";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/carousel.css" rel="stylesheet" />
<div class="body-content" id="myContent2">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="~/images/corporate-Governance-Challenges.jpg" alt="First slide">

                <div class="container" id="myCC">
                    <div class="carousel-caption">
                        <p>
                            <a class="btn btn-lg btn-primary" href="~/Home/Governance" role="button">Corporate Governance</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="~/images/cover-of-annual-report.jpg" alt="Second slide">

                <div class="container">
                    <div class="carousel-caption">
                        <p>
                            <a class="btn btn-lg btn-primary" href="~/Home/FinancialReporting" role="button">Annual Reports</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide"
                     src="~/images/14683036-stock-market-analyze.jpg" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption">
                        <p>
                            <a class="btn btn-lg btn-primary" href="~/Home/FinancialHighLights" role="button">Financial Performance</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide"
                     src="~/images/maxresdefault.jpg" alt="Fourth slide">
                <div class="container">
                    <div class="carousel-caption">
                        <p>
                            <a class="btn btn-lg btn-primary" href="~/Home/Chairman" role="button">Chairman`s Statement</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide"
                     src="~/images/sidebar03.jpg" alt="Fifth slide">
                <div class="container">
                    <div class="carousel-caption">
                        <p>
                            <a class="btn btn-lg btn-primary" href="~/Home/Gallery" role="button">Browse gallery</a>
                        </p>
                    </div>
                </div>
            </div>



        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- /.carousel -->

    <div class="row" id="myMain2">

        <div class="col-md-4">
            <h2>Corporate Governance</h2>
            <p>This page directs the user to their log in page or a sign up page. After logging in, only then the user can see share prices and performance trends</p>
            <p>
                <a class="btn btn-default" href="Account">More Info &raquo;</a>
            </p>
        </div>

        <div class="col-md-4">
            <h2>Annual Reports</h2>
            <p>This page directs the user to their log in page or a sign up page. After logging in, only then the user can see share prices and performance trends</p>
            <p>
                <a class="btn btn-default" href="Account">More Info &raquo;</a>
            </p>
        </div>

        <div class="col-md-4">
            <h2>Financial Performance</h2>
            <p>This page directs the user to their log in page or a sign up page. After logging in, only then the user can see share prices and performance trends</p>
            <p>
                <a class="btn btn-default" href="Account">More Info &raquo;</a>
            </p>
        </div>

        <div class="col-md-4">
            <h2>Chairman`s Statement</h2>
            <p>View information that the company’s chairman would have released pertaining to the company’s performance levels over the past year</p>
            <p>
                <a class="btn btn-default" href="Home/Chairman">More Info &raquo;</a>
            </p>
        </div>


        <div class="col-md-4">
            <h2>Investor Portal</h2>
            <p>This page directs the user to their log in page or a sign up page. After logging in, only then the user can see share prices and performance trends</p>
            <p>
                <a class="btn btn-default" href="Account">More Info &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Gallery</h2>
            <p>
                A corporate report providing investors with an overview of the firm's performance during the period covered by the report
            </p>
            <p>
                <a class="btn btn-default" href="Home/FinancialHighLights">More Info &raquo;</a>
            </p>
        </div>
    </div>

</div>