﻿<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript" src="../../js/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Division', 'Revenue By Division'],
          ['Plantations',2],
          ['Stationery', 5],
          ['Paper', 3],
          ['Batteries', 11]
       
        ]);

        var options = {
          title: 'Revenue By Division',
          pieHole: 0.5,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>
<center>
    <div id="donutchart" style="width: 400px; height: 400px;"></div>
 
</center>
</body>
</html>
