﻿<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript" src="../../js/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Element', 'Expenditure', { role: 'style' }, { role: 'annotation' }],
            ['2015',3441000, 'red', 'Cu'],
            ['2014', 681000, 'blue', 'Ag'],
            ['2013',541000, 'navy', 'Au'],
            ['2012', 125000, 'color: blue', 'Pt']
        ]);
        var view = new google.visualization.DataView(data);
        view.setColumns([
            0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2
        ]);

        var options = {
            title: "Capital Expenditure By Division",
            width: 600,
            height: 400,
            bar: { groupWidth: "95%" },
            legend: { position: "none" },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
        chart.draw(view, options);
    }
</script>

<div id="columnchart_values" style="width:200px; height: 400px;"></div>

<div id="columnchart_values" style="width:200px; height: 400px;"></div>