﻿@model investorpage.Models.ordinaryshare

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminP.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ordinaryshare</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.basic_diluted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.basic_diluted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loss_per_share)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loss_per_share)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.market_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.market_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shares_in_issue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shares_in_issue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ordinaryshareID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
