﻿@model IEnumerable<investorpage.Models.ordinaryshare>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.basic_diluted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loss_per_share)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.market_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shares_in_issue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.basic_diluted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loss_per_share)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.market_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shares_in_issue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ordinaryshareID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ordinaryshareID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ordinaryshareID })
        </td>
    </tr>
}

</table>
