﻿@model investorpage.Models.Comprehensive_Income

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminP.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Comprehensive_Income</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Revenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Revenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.operatingprofit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.operatingprofit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.netinterest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.netinterest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lossorprofit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lossorprofit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
