﻿@model investorpage.Models.Comprehensive_Income

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminP.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Comprehensive_Income</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Revenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Revenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.operatingprofit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.operatingprofit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.netinterest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.netinterest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lossorprofit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lossorprofit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Comprehensive_IncomeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
