﻿@model IEnumerable<investorpage.Models.Comprehensive_Income>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Revenue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.operatingprofit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.netinterest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lossorprofit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Revenue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.operatingprofit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.netinterest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lossorprofit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Comprehensive_IncomeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Comprehensive_IncomeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Comprehensive_IncomeID })
        </td>
    </tr>
}

</table>
