﻿@model PagedList.IPagedList<investorpage.Models.Investor>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Investors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Investors", FormMethod.Get))
{
    <table>
        <tr>
            <td>By Bank:</td>
            <td>
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as
string)
            </td>
            <td>
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Search" />
            </td>
        </tr>

        <tr>
            <td>Start Date:</td>
            <td>@Html.JQueryUI().Datepicker("Date1String")</td>
            <td>End Date:</td>
            <td>@Html.JQueryUI().Datepicker("Date2String")</td>
            <td><input type="submit" class="btn btn-lg btn-primary btn-block" value="Search" /></td>
        </tr>
    </table>
}
<div class="row" style="background: white;">
    <table class="table">
        <tr>
            <th>
                InvestorType
            </th>
            <th>
                @Html.ActionLink("Investor Name", "Index", new {sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter})
            </th>
            <th>
                
                @Html.ActionLink("TotalAmtInvested", "Index", new { sortOrder = ViewBag.ToalSortParm, currentFilter = ViewBag.CurrentFilter })


            </th>
            <th>
                @Html.ActionLink("Current Value", "Index", new { sortOrder = ViewBag.CurrentSortParm, currentFilter = ViewBag.CurrentFilter })

            </th>
            <th>
                BankName
            </th>
            <th>
                BranchName
            </th>
            <th>
                AccountNumber
            </th>
            <th>
                RefNumber
            </th>
            <th>
                Address
            </th>

            <th>
                @Html.ActionLink("Added Date", "Index", new {sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter})
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InvestorType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvestorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmtInvested)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BranchName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RefNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.InvestorID}) |
                    @Html.ActionLink("Details", "Details", new {id = item.InvestorID}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.InvestorID})
                </td>
            </tr>
        }

    </table>

</div>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))