﻿@model investorpage.Models.Governance

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminP.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Governance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GovernanceHeader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GovernanceHeader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GovernanceSection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GovernanceSection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GovernanceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
