﻿@model IEnumerable<investorpage.Models.Governance>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GovernanceHeader)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GovernanceSection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GovernanceHeader)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GovernanceSection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GovernanceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GovernanceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GovernanceID })
        </td>
    </tr>
}

</table>
