﻿@model investorpage.Models.BankingChange

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>BankingChange</h4>
        <hr />
        <dl class="dl-horizontal">
       
    
            <dt>
                @Html.DisplayNameFor(model => model.User.Username)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User.Username)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BankName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BankName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BranchName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BranchName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AccountNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RefNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RefNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ApplicationDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.isAcknowledged)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.isAcknowledged)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.BankingChangeID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
