﻿@model PagedList.IPagedList<investorpage.Models.BankingChange>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Sec.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Secretary Bank Acknowledgement</title>
</head>
<body>
  
    @using (Html.BeginForm("Index", "SecBankChanges", FormMethod.Get))
    {
        <table>
            <tr>
                <td>By name:</td>
                <td>
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as
string)
                </td>
                <td>
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Search" />
                </td>
            </tr>

            <tr>
                <td>Start Date:</td>
                <td>@Html.JQueryUI().Datepicker("Date1String")</td>
                <td>End Date:</td>
                <td>@Html.JQueryUI().Datepicker("Date2String")</td>
                <td><input type="submit" class="btn btn-lg btn-primary btn-block" value="Search" /></td>
            </tr>
        </table>
    }
    <table class="table">
        <tr>
           
            <th>
              Username
            </th>
            <th>
                @Html.ActionLink("Bank Name", "Index", new { sortOrder = ViewBag.BankSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
          
            <th>
            AccountNumber
            </th>
            
            <th>
             @Html.ActionLink("Application Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                isAcknowledged
            </th>
            <th>
                @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAcknowledged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.BankingChangeID }) |
                @Html.ActionLink("Details", "Details", new { id=item.BankingChangeID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.BankingChangeID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))