﻿@model IEnumerable<investorpage.Models.Dividend>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DividendType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnouncementDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExDividendDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DividendAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DividendType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnnouncementDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExDividendDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DividendAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DividendID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DividendID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DividendID })
        </td>
    </tr>
}

</table>
