﻿@model investorpage.Models.Dividend

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Sec.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dividend</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Investor.InvestorType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Investor.InvestorType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User2.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User2.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DividendType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DividendType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnouncementDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnouncementDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExDividendDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExDividendDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DividendAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DividendAmount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
