﻿@model PagedList.IPagedList<investorpage.Models.Dividend>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Sec.cshtml";
}

<h2>Dividend</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "SecDividend", FormMethod.Get))
{
    <table>
        <tr>
            <td>By ID:</td>
            <td>
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as
string)
        </td>
        <td>
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Search" />
        </td>
    </tr>

    <tr>
        <td>Start Date:</td>
        <td>@Html.JQueryUI().Datepicker("Date1String")</td>
        <td>End Date:</td>
        <td>@Html.JQueryUI().Datepicker("Date2String")</td>
        <td><input type="submit" class="btn btn-lg btn-primary btn-block" value="Search" /></td>
    </tr>
</table>
}
<table class="table">
    <tr>
        <th>
            FullName
        </th>
        <th>
            Username
        </th>
        <th>
            @Html.ActionLink("Dividend ID", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
          DividendType
        </th>
        <th>
            @Html.ActionLink("Announcement Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            ExDividendDate
        </th>
        <th>
            RecordDate
        </th>
        <th>
           PaymentDate
        </th>
        <th>
        DividendAmount
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Investor.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User2.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DividendID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DividendType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnnouncementDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExDividendDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DividendAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DividendID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DividendID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DividendID })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))