﻿@model investorpage.Models.other

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminP.cshtml";
}

<h2>Details</h2>

<div>
    <h4>other</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.net_asset_value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.net_asset_value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.current_ratio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.current_ratio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.interest_cover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.interest_cover)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number_of_employees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_of_employees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.otherID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
