﻿@model IEnumerable<investorpage.Models.other>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.net_asset_value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.current_ratio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.interest_cover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.number_of_employees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.net_asset_value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.current_ratio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.interest_cover)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.number_of_employees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.otherID }) |
            @Html.ActionLink("Details", "Details", new { id=item.otherID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.otherID })
        </td>
    </tr>
}

</table>
