﻿@model PagedList.IPagedList<investorpage.Models.AddressChange>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Sec.cshtml";
}

<h2>Secretary Address Acknowledgement</h2>

@using (Html.BeginForm("Index", "SecAddressChanges", FormMethod.Get))
{
    <table>
        <tr>
            <td>By Bank:</td>
            <td>
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as
string)
        </td>
        <td>
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Search" />
        </td>
    </tr>

    <tr>
        <td>Start Date:</td>
        <td>@Html.JQueryUI().Datepicker("Date1String")</td>
        <td>End Date:</td>
        <td>@Html.JQueryUI().Datepicker("Date2String")</td>
        <td><input type="submit" class="btn btn-lg btn-primary btn-block" value="Search" /></td>
    </tr>
</table>
}
<table class="table">
    <tr>

        <th>
            Username
        </th>
        <th>@Html.ActionLink("Address ID", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</th>
        
        <th>
            Address
        </th>
        <th>
            @Html.ActionLink("City", "Index", new { sortOrder = ViewBag.CitySortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th>
            @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Application Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            isAcknowledged
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressChangeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isAcknowledged)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AddressChangeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AddressChangeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AddressChangeID })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))