﻿@model investorpage.Models.Share

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminP.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Share</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Administrator.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Administrator.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShareName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShareName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TradingStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TradingStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Index)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Index)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastTrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastTrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.changeonday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.changeonday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiefExecutive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiefExecutive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
