﻿@model investorpage.Models.Share

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminP.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Share</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Administrator.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Administrator.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShareName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShareName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TradingStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TradingStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Index)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Index)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastTrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastTrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.changeonday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.changeonday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiefExecutive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiefExecutive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShareID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
