﻿@model IEnumerable<investorpage.Models.Share>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Administrator.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShareName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TradingStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Index)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastTrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.changeonday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChiefExecutive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Administrator.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShareName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TradingStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Index)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastTrade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.changeonday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChiefExecutive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShareID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShareID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShareID })
        </td>
    </tr>
}

</table>
