﻿@model investorpage.Models.ApprovalAccount

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminP.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ApprovalAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Administrator.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Administrator.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvestorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvestorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalAccountDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalAccountDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isApproved)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApprovalAccountID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
