﻿@model IEnumerable<investorpage.Models.ApprovalAccount>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Administrator.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investor.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovalAccountDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isApproved)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Administrator.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Investor.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovalAccountDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isApproved)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ApprovalAccountID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ApprovalAccountID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ApprovalAccountID })
        </td>
    </tr>
}

</table>
