﻿
@model TrackerEnabledDbContext.Common.Models.AuditLog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminP.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Audit Log Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuditLogId)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.AuditLogId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDateUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDateUTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordId)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
