﻿@model PagedList.IPagedList<TrackerEnabledDbContext.Common.Models.AuditLog>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm("Index", "AuditLog", FormMethod.Get))
{


    <h2>
        AuditLog
    </h2>
    <table>
        <tr>
            <td>By Bank:</td>
            <td>
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as
string)
            </td>
            <td>
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Search" />
            </td>
        </tr>

        <tr>
            <td>Start Date:</td>
            <td>@Html.JQueryUI().Datepicker("Date1String")</td>
            <td>End Date:</td>
            <td>@Html.JQueryUI().Datepicker("Date2String")</td>
            <td><input type="submit" class="btn btn-lg btn-primary btn-block" value="Search" /></td>
        </tr>
    </table>
}
<table class="table">
    <tr>

        <th>
            AuditLogId
        </th>
        <th>
            @Html.ActionLink("UserName", "Index", new {sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("EventDateUTC", "Index", new {sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter})



        </th>
        <th>
            EventType
        </th>
        <th>
            TypeFullName
        </th>
        <th>
            RecordId
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuditLogId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDateUTC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordId)
            </td>

            <td>

                @Html.ActionLink("Details", "Details", new {id = item.AuditLogId}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.AuditLogId})
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))