﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title-Investor Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Bootstrap core CSS -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom styles for this template -->
    <link href="content/carousel.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <script language="JavaScript">
function noRightClick() {
if (event.button==2) {
alert('You may not right mouse click this page all content is protected is property of Investor.')
}
}
document.onmousedown=noRightClick
    </script>
</head>
<body>
    <!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" id="mycolor">


    <div class="navbar-header">
        <h2 id="mobDiv"><a href="~/Home">Home</a></h2>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar">
                </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>


    </div>
    <div class="container">

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="thtdiv">

                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Governance<span class="caret"></span></a>

                    <ul class="dropdown-menu" id="myNav">

                        <li><a href="#">More Annual Reports</a></li>

                        <li role="separator" class="divider"></li>
                        <li><a href="#">2015</a></li>
                        <li><a href="#">2014</a></li>
                        <li><a href="#">2013</a></li>
                        <li><a href="#">2012</a></li>
                    </ul>
                </li>-->
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Governance" ? "active" : "")">@Html.ActionLink("Corporate Governance", "Governance", "Home")</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "FinancialReporting" ? "active" : "")">@Html.ActionLink("Annual Reports", "FinancialReporting", "Home")</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "FinancialHighLights" ? "active" : "")">@Html.ActionLink("Financial Perfomance", "FinancialHighLights", "Home")</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Investor Portal" ? "active" : "")">@Html.ActionLink("Investor Portal", "Index", "Account")</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Chairman" ? "active" : "")">@Html.ActionLink("Chairman`s Statement", "Chairman", "Home")</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Gallery" ? "active" : "")">@Html.ActionLink("Gallery", "Gallery", "Home")</li>


                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>






                <!--<li class="active"><a href="#">Stock Information</a></li>
                <li><a href="#about">Financial Reporting</a></li>
                <li><a href="#contact">Gallery</a></li>
                <li><a href="#contact">Investor Portal</a></li>!-->

            </ul>
            <ul class="nav navbar-nav navbar-right" id="thtdiv">


                <li><a href="~/SignUp/Create"><span class="glyphicon glyphicon-user"></span>SignUp</a></li>
                <li><a href="~/AccountAdmin"><span class="glyphicon glyphicon-user"></span>Admin</a></li>

            </ul>
            <div id="searchDiv">

                <img src="~/images/stockmarket-01-01.png" width="64" height="64"/>
                <a style="color: orange" href="#">Share Price:13.56</a>
                <a style="color: orange" href="#">@DateTime.Now.ToString("dd-MM-yyyy")</a>

                <form method="get" action="http://www.google.com/search" width="200" class="navbar-form navbar-right" target="_blank">
                    <table>
                        <tr>

                            <td>
                                <input class="form-control" type="text" name="q" size="40" maxlength="255" value="" placeholder="Google Search..."><input id="color" class="btn btn-lg btn-primary" type="submit" value="Search">

                                <input type="hidden" name="sitesearch" value="#" target="_blank">
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </form>

            </div>
        </div><!--/.nav-collapse -->


    </div>

</nav>
    <div class="f-button2">
        <label for="open">
            <ul>
                <li><a href="#"><img width="32" height="32" src="~/images/facebook.png" /></a></li>
                <li><a href="#"><img width="32" height="32" src="~/images/linkedin.png" /></a></li>
                <li><a href="#"><img width="32" height="32" src="~/images/twitter.png" /></a></li>
            </ul>

        
        </label>
    </div>
    <a href="/Account"><div class="f-button"><label for="open">SIGN UP</label></div></a>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>

            <div class="row">
      
                <div class="col-md-4">

                    <p style="color: white">
                        <a class="btn btn-default" href="/Home/FinancialHighLights">Financial Performance &raquo;</a><br />
                        The section of a corporate report providing investors with an overview of the firm's performance during the period
                        covered by the report. For example, a report's highlights may note major acquisitions made by the firm during the period
                        and it may discuss the implications of the acquisition relative to future sales and corporate earnings.
                    </p>
                    <br />
                    <p style="color: white">
                        <a class="btn btn-default" href="/Home/Chairman">Chairman`s Statement &raquo;</a><br />
                        This section will have information that the company’s chairman would have released pertaining to the company’s performance levels over the past year.
                        This statement is released for the sake of the shareholders. These statements differ in content, depending with companies.
                    </p>
                    <br />
                    <p style="color: white">
                        <a class="btn btn-default" href="/Home/Governance">Corporate Governance &raquo;</a><br />
                        This tab loads a page or pages which show the power behind all decision making in the organisation, that is the Board Members,
                        current shareholders etc. this page also shows annual reports on changes that might have occurred in the members’
                        ranks and levels of authority
                    </p>

                </div>
                <div class="col-md-4">
                    <p style="color: white">
                        <a class="btn btn-default" href="/Home/Gallery">Gallery &raquo;</a><br/>
                        This tab shows media of functions (such as fundraisers, SRS) that the organisation attended or hosted that added value to the organisation.
                    </p>
                    <br/>
                    <p style="color: white">
                        <a class="btn btn-default" href="/Home/FinancialReporting">Annual Reports &raquo;</a><br/>
                        This tab shows annual financial reports and current financial standings of a company.
                    </p>
                    <br/>
                    <p style="color: white">
                        <a class="btn btn-default" href="/Account/Index">Investor Portal &raquo;</a><br/>
                        This is the page that directs the user to their log in page or a sign up page.
                        After logging in, only then the user can see share prices and performance trends.
                    </p>
                </div>
                <div class="col-md-4">
                    
                    <img src="~/images/escrow.png" />
                    <img src="~/images/finlogo.jpg" />
                    <img src="~/images/Logo.png" />
                </div>
            </div>

            <p>&copy; @DateTime.Now.Year - Investor</p>

            <a href="#"><img src="~/images/facebook.png" /></a>
            <a href="#"><img src="~/images/linkedin.png" /></a>
            <a href="#"><img src="~/images/twitter.png" /></a>
            <p class="pull-right">
                <a id="myBack" class="btn btn-lg btn-primary" href="#"><img src="~/images/up-arrow.png" /></a>
            </p>
            <ul class="nav navbar-nav navbar-right">

                <p>Pnone Number:1-800-547-3000 FREE</p>


            </ul>
        </footer>
    </div>

</body>
</html>