﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Dashboard </title>

    @Scripts.Render("~/bundles/modernizr")
    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="Content/dashboard.css" rel="stylesheet" type="text/css" />


    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")

    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="assets/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Secretary Dashboard :" + @User.FirstName, "Index", "Secretary", null, new { @class = "navbar-brand" })
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="Secretary">Dashboard</a></li>
                    <li>@Html.ActionLink("Investor Dividend", "Index", "SecDividend")</li>
                    <li>@Html.ActionLink("AddressChange", "Index", "SecAddressChanges")</li>
                    <li>@Html.ActionLink("BankChange", "Index", "SecBankChanges")</li>
                    <li>@Html.ActionLink("Profile", "Index", "SecAccount")</li>
                    <li><a href="#">Help</a></li>
         
                    <li>@Html.ActionLink("LogOut :" + @User.FirstName, "LogOut", "Account")</li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container-fluid">
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active">
                <a href="#">Overview
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li>
                <a href="#">Reports</a>
            </li>
            <li>
                <a href="#">Analytics</a>
            </li>
        </ul>
        <ul class="nav nav-sidebar">
            <li>
                <a href="#">Approval Accounts</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="">Share Price</a>
            </li>
            <li>
                <a href="">Perfomance</a>
            </li>
            <li>
            <li>@Html.ActionLink("Investor Dividend", "Index", "SecDividend")</li>
            </li>
       
        </ul>
        <ul class="nav nav-sidebar">
            <li>
            <li>@Html.ActionLink("User Accounts", "Index", "SecAccount")</li>
            </li>
            <li>@Html.ActionLink("AddressChange", "Index", "SecAddressChanges")</li>
            <li>@Html.ActionLink("BankChange", "Index", "SecBankChanges")</li>
            <li>
                <a href="">Account Statements</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Dashboard</h1>
        <div class="row placeholders">


            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <span class="text-muted">@Html.ActionLink("AddressChange", "Index", "SecAddressChanges")</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <span class="text-muted">@Html.ActionLink("BankChange", "Index", "SecBankChanges")</span>
            </div>
       
      
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <span class="text-muted">@Html.ActionLink("User Management", "Index", "SecAccount")</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <span class="text-muted">Reports</span>
            </div>
        </div>
        @RenderBody()
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - Investor</p>
        </footer>
    </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</div>
</body>
</html>