﻿@font-face {
	font-family: 'Rosario';
	src: url('Rosario.ttf');
	src: local('☺'), url('../fonts/Rosario/Rosario-Regular.ttf') format('truetype'), url('../fonts/Rosario/Rosario-Italic.ttf') format('truetype'),url('../fonts/Rosario/Rosario-Bold.ttf') format('truetype'),url('../fonts/Rosario/Rosario-BoldItalic.ttf') format('truetype');
	font-weight: normal;
	font-style:normal;
}


body {
    padding-top: 50px;
    background-image: url('../images/new_year_background.png');
    font-size: 10pt;
    font-size: 11pt;
    font-family:Rosario;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
#searchDiv {
    background-color:white;
    width:inherit;
    margin-top: 5%;
}
#myTop {
    margin-top: 8%;
}

#loginForm {
    background: white;
    width: 520px;
    border-top-left-radius: 20px;
     border-top-right-radius: 20px;
         border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
       box-shadow: 10px 5px 5px 5px black;
}
#myMain {
    background: white; 
    /*/96%*/
    margin-top: 0;
    width:auto; 
    margin-left: 2%;
    margin-right: 2%;
      box-shadow: 10px 5px 5px 5px black;
             border-top-left-radius: 5px;
      
     border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      
     border-bottom-left-radius: 5px;
}
#myMain2 {
    background: white; 
    /*/96%*/
    margin-top: 0;
    width:auto; 
    margin-left: 2%;
    margin-right: 2%;
      box-shadow: 10px 5px 5px 5px black;
             border-top-left-radius: 5px;
      
     border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      
     border-bottom-left-radius: 5px;
}

#thtdiv li a:hover{
    color: orange;
   
} 
#thtdiv li:active{
    background:none;
   
} 
#color {
    background-color: black;
    width: inherit;
}
#myCC .carousel-caption p{
   color: black;
}
#myCC .carousel-caption h1{
   color: black;
}
#myBack {
    background-color:black;

    opacity:0.4;
filter:alpha(opacity=100);
    border-top-left-radius: 10px; 
     border-top-right-radius: 10px;
    border-bottom-left-radius: 10px; 
      border-bottom-right-radius: 10px;
right:2px;
  
}

#soc li {
    list-style: none;
    padding: 20px;
}
#soc table tr td  li a{
    text-decoration: none;
    color: white;
}
#soc li a .active{
    color: black;
}
#myBack:hover {
    background-color:black;

    opacity:0.8;
filter:alpha(opacity=100);
    border-top-left-radius: 10px; 
     border-top-right-radius: 10px;
    border-bottom-left-radius: 10px; 
      border-bottom-right-radius: 10px;
   right:2px;
  
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


#mycolor {
    background-color:white;
    color: white;
}

#mov {
    margin-left:12%;
}
#mov2 {
    margin-right: 10%;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.f-button { height:85px;color: white; width:78px; line-height:32px; -webkit-transform:rotate(-90deg); font-weight:600; color:white; transform:rotate(-90deg);  -ms-transform:rotate(-90deg);  -moz-transform:rotate(-90deg); text-align:center; font-size:11pt; position:fixed; right:-40px; top:47%; font-family:Arial, Helvetica, sans-serif; z-index:999; }
.f-button label {
 transform:rotate(180deg);
    width: 140px;
    text-align: center;
}
.f-button2 { height:auto; width:auto; line-height:32px; font-weight:600; color:white;text-align:center; font-size:16pt; position:fixed;left:-40px; top:37%; font-family:Arial, Helvetica, sans-serif; z-index:999; }
.f-button2 label {

    width: 140px;
    text-align: center;
}
.f-button2 label img {
    display: list-item;
}
#form { height:100%; width:100%; position:fixed; top:-100%; left:0; background:rgba(25, 0, 94, 0.65); opacity:.8; }
#open:checked ~ #form { top:0; }
#open:checked ~ #form .form-in { margin-top:150px; transition:all .5s .4s; }
input[type="radio"] { display:none; }
label { cursor:pointer; padding:8px 0; }
.form-in { height:auto; width:50%; padding:2% 4%; border-radius:5px; background:#FFF; margin-left:20%; margin-top:-400px; }
.in,.text { width:90%; margin:5px; transition:all .4s .1s; padding:9px 7px; outline:none; border-radius:4px; border:solid 2px #999999; }
.in:focus:invalid,.text:focus:invalid { border-color:#930; }
.in:focus:valid,.text:focus:valid { border-color:#063; }
.text { height:70px; }
.sb { margin:5px; padding:5px 10px; cursor:pointer; border-radius:4px; border:none; background:#333; color:white; font-size:16px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; }
.close { height:15px; border-radius:4px 4px 0 0; text-align:center; margin-left:90%; width:30px; background:#FFF; position:relative; top:-40px; color:#900; font-weight:bold; font-size:20px; }
.close p { -webkit-transform:rotate(45deg); }



#table tr td {
    padding: 30px;
}
#table tr  th {
    padding: 30px;
    color: black;
}
#table tr  td li {
    list-style: none;
}
#table tr  td li a{
    text-decoration: none;
    color: white;
}


#tab tr td {
    padding: 5px;
}

#tab tr  td li {
    list-style: none;
}
#tab tr  td li a{
    text-decoration: none;
   
}

#colcolor {
   background-color: navy;
    color: white;
       border-top-left-radius: 5px;
      
     border-bottom-left-radius: 5px;
}
#colcolor2 {
   background-color: navy;
    color: white;
   
     border-top-right-radius: 5px;
      
     border-bottom-right-radius: 5px;
}
#important {
    color: maroon;
    font-weight: bold;
}
#secondcol {
    background-color:lightgray;
    border: solid;
    border-width: thin;
    border-top:none;
    border-bottom:none;
    border-color: lightgray;
}
#spancol {
    color: white;
}
#figbold {
    font-weight: bold;
}

/*New */

.centered {
  margin: auto auto;
  display: block;
  width: 185px;
  margin-bottom: 25px;
}
.thumbnail {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #444;
}
.thumbnail img {
  opacity: .75;
}
.thumbnail img:hover {
  opacity: 1;
}
.gallery {
  color: #fff;
}
.gallery h2 {
  font-family: 'Yesteryear', arial, helvetica, sans;
  color: #eee;
  text-align: center;
  margin-bottom: 15px;
  font-size: 4.5em;
  font-weight: 200;
  line-height: 1.65em;
  border-bottom: 1px solid #000;
  text-shadow: 3px 4px 0px rgba(0, 0, 0, 0.76);
}
.credits a {
  margin-right: 15px;
  color: #555;
  border: 1px solid #000;
  padding: 5px 15px;
  background: rgba(0, 0, 0, 0.45);
}
.credits a:hover {
  color: #999;
  text-decoration: none;
  background: #000;
}
#h3 {
    font-weight: bold;
    font-size: 11pt;
}
#govP {

    line-height: 180%;
    font-size: 12pt;
    text-align: justify;

}
.downloadlink {
    color:black;
    font-style:italic;
}
.downloadlink:hover {
    font-weight: bold;
}
#download {
    background-color: white;
     color: black; 
     margin-left: 3%; 
     width: 75%; 
     overflow: auto;
       border-top-left-radius: 5px;
      
     border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      
     border-bottom-left-radius: 5px;
}
#download h2{
      text-decoration: underline;
    font-size: 11pt;
}
h1 h2 h3 {
     font-size: 11pt;
    font-weight:bold;
}

#Header {
    position: absolute; 
    top: 10%;
    left: 0;
   height: 15%;
    width: 100%;
    overflow: hidden;
       background-image: url('../images/new_year_background.png');
    color: white;

}
#myContent {
      margin-top: 10%;
    background-color: white;
}
#gov {
    margin-top: 5%;
}

#thtDiv {
    width: 100%;

    overflow: hidden;
}
#myContent2 {
        background-image: url('../images/new_year_background.png');
}
#trends {
    border: none;
}
#Gall {
    height:600px;width:100%; overflow: auto; margin-top: 8%;
}
#mobDiv a{
    color: orange;
    visibility: hidden;
}

/*Mobile Responsiveness*/

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {
    #myCarousel {
        margin-top: 55%;
    }
    #myContent2 {
      margin-top: 50%;
}
    .f-button2 {
        display: none;
    }
#mobDiv a{
    color: orange;
    visibility: visible;
}
    
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {
       .f-button2 {
        display: none;
    }
}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
   #myCarousel {
        margin-top: 55%;
    }
   #myContent2 {
      margin-top: 50%;
}
     .f-button2 {
        display: none;
    }
#mobDiv a{
    color: orange;
    visibility: visible;
}
    
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
       .f-button2 {
        display: none;
    }
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
 #myCarousel {
        margin-top: 55%;
    }
 #myContent2 {
      margin-top: 50%;
}
   .f-button2 {
        display: none;
    }
#mobDiv a{
    color: orange;
    visibility: visible;
}
    
}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
       .f-button2 {
        display: none;
    }
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */


}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */

}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
 #myCarousel {
        margin-top: 55%;
    }
 #myContent2 {
      margin-top: 50%;
}
   .f-button2 {
        display: none;
    }
#mobDiv a{
    color: orange;
    visibility: visible;
}
   
    
}

/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {
  

}

/* Portrait */
@media (max-device-width: 800px) and (orientation: portrait) {
    #myContent2 {
        margin-top: 30%;
    }

    #myContent {
        overflow: auto;
        background-color: white;
    }

    #gov {
        margin-top: 40%;
    }

    #Header {
        top: 20%;
    }
    #trends {
        margin-top: 35%;
        border: none;
    }
    .starter-template {
        width: 100%;
    }
    #tab {
        margin-top: 25%;
    }
    #myMain {
        margin-top: 33%;
    }
    #Gall {
        margin-top: 38%;
    }
#mobDiv a{
    color: orange;
    visibility: visible;
}
}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape) { 

}

