﻿ 

@{
    Layout = "~/Views/Shared/AdminP.cshtml";
}

    <h2>Archives</h2>


    @using (Html.BeginForm("Download", "myAction"))
    {

        foreach (string file in ViewBag.Files)
        {


            <input type="checkbox" name="files" value="@file"  /> @:&nbsp;
            @Path.GetFileNameWithoutExtension(file)

            <br />




        }


        <br/>
        <div>
            <button class="btn-primary">Download</button>
        </div>
    }

