﻿@{
    ViewBag.Title = "Upload File";
    Layout = "~/Views/Shared/AdminP.cshtml";
}
<div class="row" style="background: white; width: 760px; margin-left: 5%">
    <h2>Upload PDF Annual Reports and Statements</h2>
    <div>
        <input type='file' id="files"  class="btn btn-primary" multiple="multiple"/> <!-- Allowed to select Multiple files at a stretch-->
       <br/>
         <input type="button" id="upload"  class="btn btn-primary" value="Upload"/>
    </div>

    <script>
        $body = $("body");
        $(document).on({
            ajaxStart: function() { $body.addClass("loading"); },
            ajaxStop: function() { $body.removeClass("loading"); }
        });

        $(document).ready(function() {
            $("#upload").click(function() {
                var data = new FormData();

                //Add the Multiple selected files into the data object
                var files = $("#files").get(0).files;
                for (i = 0; i < files.length; i++) {
                    data.append("files" + i, files[i]);
                }

                //Post the data (files) to the server
                if (files.length > 0) {
                    $.ajax({
                        type: 'POST',
                        url: "@Url.Action("Upload")",
                        data: data,
                        contentType: false,
                        processData: false,
                        success: function(data) {
                            alert("Successfully Uploaded!");
                        },
                        error: function() {
                            alert("An error occurred!");
                        },
                    });
                }
            });
        });
    </script>
    
    <li>@Html.ActionLink("Download", "Download", "myAction")</li>
</div>