﻿@model investorpage.Models.LoginViewModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/Login.cshtml";
}

<h2>ForgotPassword</h2>

<center>
    <div class="row" id="loginForm">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h2 class="form-signin-heading">Forgot Password</h2>
                <hr />
                @Html.ValidationSummary(true)


                <div class="form-group">

                    @Html.LabelFor(model => model.Username,"Email" ,htmlAttributes: new { @class = "control-label col-md-2" })


                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" }, })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        <h3>@ViewBag.Message</h3>
                    </div>
                </div>





                <div class="form-group" id="mov">
                    <div class="col-md-10">
                        <input id="Confirm" type="submit" value="Confirm" name="Confirm" class="btn btn-lg btn-primary btn-block"/>
                    </div>

                </div>
                <div class="form-group" id="mov">

                    <div class="col-md-10">
                        <a href="~/Account"><input type="button" value="Login" class="btn btn-lg btn-primary btn-block" /></a>
                    </div>
                </div>

             
            
            </div>

        }

    </div>
</center>