﻿@model investorpage.Models.LoginViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Login.cshtml";
}
<center>
    <div class="row" id="loginForm">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h2 class="form-signin-heading">Investor SignIn</h2>
                <hr />
                @Html.ValidationSummary(true)


                <div class="form-group" >
                  
                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
               
                   
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Username, new {htmlAttributes = new {@class = "form-control"},})
                        @Html.ValidationMessageFor(model => model.Username, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
               
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                 
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" }, })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                <div class="form-group">
                 
                        @Html.LabelFor(model => model.RememberMe, new { @class = "control-label col-md-2" })
                 
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RememberMe)
                            @Html.ValidationMessageFor(model => model.RememberMe)
                        </div>
                    </div>
           
                    <div class="form-group" id="mov">
                        <div class="col-md-10">
                            <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block" />
                        </div>

                    </div>

                    <div class="form-group" id="mov">

                        <div class="col-md-10">
                            <a href="~/Home"><input type="button" value="Back to site" class="btn btn-lg btn-primary btn-block" /></a>
                        </div>
                    </div>
                    <div class="form-group" id="mov">

                        <div class="col-md-10">
                            <a href="~/SignUp/Create"><input type="button" value="SignUp" class="btn btn-lg btn-primary btn-block" /></a>
                        </div>
                    </div>
                <div class="form-group" id="mov">

                    <div class="col-md-10">
                        <a href="~/Account/ForgotPassword"><input type="button" value="Forgot Password?" class="btn btn-lg btn-primary btn-block" /></a>
                    </div>
                </div>
            </div>
                
        }

        </div>
        </center>