﻿@model investorpage.Models.financial_position

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminP.cshtml";
}

<h2>Details</h2>

<div>
    <h4>financial_position</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.equityattributable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.equityattributable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.interestdebt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.interestdebt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.financial_positionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
