﻿@model IEnumerable<investorpage.Models.Dividend>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Investor Dividend:@User.FirstName @User.LastName</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Investor.FullName)
        </th>
   
        <th>
            @Html.DisplayNameFor(model => model.DividendType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnouncementDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExDividendDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DividendAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Investor.FullName)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.DividendType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnnouncementDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExDividendDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DividendAmount)
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", new { id=item.DividendID }) 
            
        </td>
    </tr>
}

</table>
