﻿@model IEnumerable<investorpage.Models.Performance>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Share.ShareName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ask)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YTD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YOY)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Share.ShareName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ask)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YTD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YOY)
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", new { id=item.PerformanceID }) |
           
        </td>
    </tr>
}

</table>
