﻿
@model TrackerEnabledDbContext.Common.Models.AuditLogDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminP.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Audit Log Details</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Log.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Log.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Log.TypeFullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Log.TypeFullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Log.EventDateUTC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Log.EventDateUTC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PropertyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PropertyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuditLogId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuditLogId)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
