﻿@model PagedList.IPagedList<TrackerEnabledDbContext.Common.Models.AuditLogDetail>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Index", "AuditLogDetails", FormMethod.Get))
{
    <table>
        <tr>
            <td>By Bank:</td>
            <td>
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as
                    string)
            </td>
            <td>
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Search"/>
            </td>
        </tr>

        <tr>
            <td>Start Date:</td>
            <td>@Html.JQueryUI().Datepicker("Date1String")</td>
            <td>End Date:</td>
            <td>@Html.JQueryUI().Datepicker("Date2String")</td>
            <td><input type="submit" class="btn btn-lg btn-primary btn-block" value="Search"/></td>
        </tr>
    </table>
}

    <h2>AuditLogDetails</h2>
    <table class="table">
        <tr>

            <th>
                @Html.ActionLink("UserName", "Index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                TypeFullName
            </th>
            <th>
                @Html.ActionLink("EventDateUTC", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })

            </th>
            <th>
                @Html.ActionLink("PropertyName", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })

            </th>
            <th>
                OriginalValue
            </th>
            <th>
                NewValue
            </th>
            <th>
                AuditLogId
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Log.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Log.TypeFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Log.EventDateUTC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PropertyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuditLogId)
                </td>

                <td>

                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
    @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))