﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Sec.cshtml";
}

<div class="row" style="background: white">
    <h4>Welcome :@User.FirstName </h4>
    <h1>User DashBoard</h1>

    </div>