﻿@model investorpage.Models.Performance

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminP.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Performance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Share.ShareName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Share.ShareName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ask)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ask)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YTD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YTD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YOY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YOY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PerformanceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
